footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background: #fff;
    left: 0;
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
    }
        img{
            margin-right: 8px;
            width: 22px;
            height: 22px;
        }
        ul{
            display: flex;
            li{
                display: inline-block;
                margin: 0px 10px;
                svg{
                    width: 26px;
                    height: 26px;
                    &.linkedin,&.stack-overflow{
                        width: 28px;
                        height: 28px;
                    }
                    &:hover{
                        &.linkedin{
                            path{
                                fill:#2489BE
                            }
                        }
                        &.github{
                            path{
                                fill:#000
                            }
                        }
                        &.stack-overflow{
                            circle{
                                fill:#fff
                            }
                            path{
                                &:nth-child(n+1){
                                    fill:#FF9800
                                }
                                &:nth-child(2){
                                    fill:#757575
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width:768px) {
            ul{
                li{
                    margin: 0 5px;
                }
            }
        }
        @media screen and (max-width:500px) {
            ul{
               margin-top: 20px;
            }
        }
        
    
}