footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background: #fff;
    left: 0;
    p{
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
    }
        img{
            margin-right: 8px;
            width: 22px;
            height: 22px;
        }
    
}